<div class="page-wrapper">
    <div class="content">
        <div class="header">
            <h2>FOR YOU</h2>
            <label> Claim your free food</label>
        </div>
        <div class="food__card">
            <input type="checkbox" name="choco_pancake" id="food_1" (click)="selectItemPerCategory($event)">
            <label for="food_1">
                <div class="food__item">
                    <div class="item-image">
                        <img src="https://image.flaticon.com/icons/svg/119/119245.svg" alt="Freepik hot chocolate">
                    </div>

                    <div class="item-description">
                        HOT CHOCOLATE
                    </div>

                    <div class="item--selected">
                        <img src="https://image.flaticon.com/icons/svg/235/235349.svg" alt="Freepik">
                        <span>Checked</span>
                    </div>
                </div>
            </label>
            <input type="checkbox" name="choco_pancake" id="food_2" (click)="selectItemPerCategory($event)">
            <label for="food_2">
                <div class="food__item">
                    <div class="item-image">
                        <img src="https://image.flaticon.com/icons/svg/1743/1743580.svg" alt="Freepik  Eucalyp pancake">
                    </div>
                    <div class="item-description">
                        PANCAKE
                    </div>
                    <div class="item--selected">
                        <img src="https://image.flaticon.com/icons/svg/235/235349.svg" alt="Freepik">
                        <span>Checked</span>
                    </div>
                </div>
            </label>
            <div class="food__action">
                <button>ORDER</button>
            </div>
        </div>

        <div class="food__card">
            <input type="checkbox" name="burger_cola" id="food_3" (click)="selectItemPerCategory($event)">
            <label for="food_3">
                <div class="food__item">
                    <div class="item-image">
                        <img src="https://image.flaticon.com/icons/svg/1778/1778115.svg" alt="Freepik mynamepong">
                    </div>

                    <div class="item-description">
                        BURGER DELUXE
                    </div>
                    <div class="item--selected">
                        <img src="https://image.flaticon.com/icons/svg/235/235349.svg" alt="Freepik">
                        <span>Checked</span>
                    </div>
                </div>
            </label>
            <input type="checkbox" name="burger_cola" id="food_4" (click)="selectItemPerCategory($event)">
            <label for="food_4">
                <div class="food__item">
                    <div class="item-image">
                        <img src="https://image.flaticon.com/icons/svg/1759/1759612.svg" alt="Freepik  ">
                    </div>
                    <div class="item-description">
                        COLA
                    </div>
                    <div class="item--selected">
                        <img src="https://image.flaticon.com/icons/svg/235/235349.svg" alt="Freepik">
                        <span>Checked</span>
                    </div>
                </div>
            </label>
            <div class="food__action">
                <button>ORDER</button>
            </div>
        </div>

        <div class="food__card">
            <input type="checkbox" name="tea_cookie" id="food_5" (click)="selectItemPerCategory($event)">
            <label for="food_5">
                <div class="food__item">
                    <div class="item-image">
                        <img src="https://image.flaticon.com/icons/svg/1691/1691154.svg" alt="Freepik">
                    </div>

                    <div class="item-description">
                        JASMINE TEA
                    </div>

                    <div class="item--selected">
                        <img src="https://image.flaticon.com/icons/svg/235/235349.svg" alt="Freepik">
                        <span>Checked</span>
                    </div>
                </div>
            </label>
            <input type="checkbox" name="tea_cookie" id="food_6" (click)="selectItemPerCategory($event)">
            <label for="food_6">
                <div class="food__item">
                    <div class="item-image">
                        <img src="https://image.flaticon.com/icons/svg/1738/1738088.svg" alt="Freepik Eucalyp ">
                    </div>
                    <div class="item-description">
                        COOKIES
                    </div>

                    <div class="item--selected">
                        <img src="https://image.flaticon.com/icons/svg/235/235349.svg" alt="Freepik">
                        <span>Checked</span>
                    </div>
                </div>
            </label>
            <div class="food__action">
                <button>ORDER</button>
            </div>
        </div>
    </div>
</div>