@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// 

/*-------------------------------------*/
$defaultFontColor : #3B4A58;
$defaultPeach: rgb(226, 135, 127);
$defaultWhite: #ffffff;
$defaultBlue: #396EAB;

$borderRadiusBase : 8px;

button {
    outline: none;
}

input[type="checkbox"] {
    display: none;
}

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px 2rem;
    
    background: none;
    color: $defaultWhite;

    &.btn-blue {
        background-color: $defaultBlue;
        border-radius: 0px;
        transition: border-radius .5s ;

        &:hover {
            border: 1px solid $defaultBlue;
            border-radius: $borderRadiusBase;
            background-color: transparent;
            color: $defaultBlue;
        }
    }
}

body{
    font-size: 16px;
}

.page__wrapper {
    position: relative;
    width: 996px;
    
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    
    &.sub__title {
        margin-left: 4px;
        font-size: 1rem;
    }
}

.line__seperate {
    border-bottom: 1px solid;
    padding: 2px;
}

.collection {
    margin-top: 3rem;
    padding: 0 4px;

    font-family: 'Roboto', sans-serif;

    &__act {
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: $defaultFontColor;

        .title {
            font-size: 24px;
            font-weight: 600;
        }
    }

    &__list{

        cursor: pointer;
        display: flex;
        justify-content: space-between;
        
        margin-top: 2.5rem;

        &-item {
            width: 322px;
            height: 400px;

            background: #f9f9f9;
            border-radius: 20px;

            overflow: hidden;

            transition: .3s;

            &:hover {
                transform: scale(1.03);
                -webkit-box-shadow: -1px 3px 20px -6px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 3px 20px -6px rgba(0,0,0,0.75);
                box-shadow: -1px 3px 20px -6px rgba(0,0,0,0.75);
            }
        }

        .item{
            &__image {
                cursor: pointer;
                position: relative;
                overflow: hidden;
                height: 400px;

                img {
                    width: 100%;
                    height: auto;
                }

                .selected__item {
                    position: absolute;
                    top: 50%;
                    right: -200px;
                    padding: 10px 0;
                    width: 50%;

                    border: 2px solid $defaultWhite;
                    border-right-color: transparent;

                    color: $defaultWhite;
                    text-align: center;
                    transition: right .5s;


                }
            }
        }

        input:checked + label .item__image {

            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(27, 40, 95, 0.45);
            }
            
            .selected__item {
                right: 0;
            }
        }

        // input[type='checkbox'] {
        //     &:checked {
        //         .item__image {
        //             display: none;
        //          }
        //     }
        //  }
        
    }
}