<div class="page__wrapper">
  <div class="top__header">
    <div class="logo title">Men Casual Fashion</div>
    <div class="logo sub__title">Choose your style</div>
    <div class="line__seperate"></div>
  </div>
  <div class="main">
    <div class="collection">
      <div class="collection__act">
        <div class="title">Denim</div>
        <button class="btn btn-blue">LET'S ME TRY</button>
      </div>
      <div class="collection__list">
        <div class="collection__list-item">

          <input type="checkbox" id="item__image_1_1" name="denim" (click)="selectedFashionItem('denim')"> 
          <label for="item__image_1_1">
            <div class="item__image">
              <img
                src="https://images.unsplash.com/photo-1550928871-1dcbefcfa27f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80"
                alt="kailas godase @kgodase07 ">

              <div class="selected__item">
                Item Selected
              </div>
            </div>
          </label>

        </div>
        <div class="collection__list-item">

          <input type="checkbox" id="item__image_1_2" name="denim" (click)="selectedFashionItem('denim')"> 
          <label for="item__image_1_2">
            <div class="item__image">
              <img
                src="https://images.unsplash.com/photo-1546215364-12f3fff5d578?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                alt="Benjamin Parker @brokenlenscap">

              <div class="selected__item">
                  Item Selected
              </div>
            </div>
          </label>

        </div>
        <div class="collection__list-item">

          <input type="checkbox" id="item__image_1_3" name="denim" (click)="selectedFashionItem('denim')" > 
          <label for="item__image_1_3">
            <div class="item__image">
              <img src="https://cdn.pixabay.com/photo/2017/08/02/20/24/people-2573218_960_720.jpg"
                alt="https://pixabay.com/photos/people-guy-man-standing-alone-cap-2573218/">

              <div class="selected__item">
                  Item Selected
              </div>
            </div>
          </label>

        </div>
      </div>
    </div>
    <div class="collection">
        <div class="collection__act">
          <div class="title">Hoodie</div>
          <button class="btn btn-blue">LET'S ME TRY</button>
        </div>
        <div class="collection__list">
          <div class="collection__list-item">

            <input type="checkbox" id="item__image_2_1" name="hoodie" (click)="selectedFashionItem('hoodie')"> 
            <label for="item__image_2_1">
                <div class="item__image">
                  <img
                    src="https://images.unsplash.com/photo-1514416422488-3a3eda052841?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                    alt="Autri Taheri @ataheri ">

                  <div class="selected__item">
                      Item Selected
                  </div>
                </div>
            </label>

          </div>
          <div class="collection__list-item">

            <input type="checkbox" id="item__image_2_2" name="hoodie" (click)="selectedFashionItem('hoodie')"> 
            <label for="item__image_2_2">
              <div class="item__image">
                <img
                  src="https://images.unsplash.com/photo-1533692241197-d60e50871f11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  alt="Vinícius Müller @vinimuller">
                
                <div class="selected__item">
                    Item Selected
                </div>
              </div>
           </label>

          </div>
          <div class="collection__list-item">

            <input type="checkbox" id="item__image_2_3" name="hoodie" (click)="selectedFashionItem('hoodie')"> 
            <label for="item__image_2_3">
              <div class="item__image">
                <img src="https://images.unsplash.com/photo-1514471269849-fda3a4441307?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                  alt="Grace Madeline @grxcemadeline">

                <div class="selected__item">
                    Item Selected
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
  </div>

</div>