<div id="card__overly">
    <div class="container">
      <div class="container__card">
        <div class="card__content">
          <div class="card__icon">
            <img src="https://image.flaticon.com/icons/svg/481/481486.svg" alt="chef hat">
          </div>
          <div class="card__text">
            <div class="text__center"> Chef's Hat </div>
          </div>
          <label>freepik.com</label>
        </div>
  
        <div class="card__content">
          <div class="card__icon">
            <img src="https://image.flaticon.com/icons/svg/263/263125.svg" alt="cutlery">
  
          </div>
          <div class="card__text">
              <div class="text__center"> Cutlery </div>
          </div>
          <label>by: Those Icons </label>
        </div>
  
        <div class="card__content">
          <div class="card__icon">
            <img src="https://image.flaticon.com/icons/svg/701/701965.svg" alt="cutlery">
  
          </div>
          <div class="card__text">
              <div class="text__center"> Tray </div>
          </div>
          <label>by: monkik </label>
        </div>
  
        <div class="card__content">
          <div class="card__icon">
            <img src="https://image.flaticon.com/icons/svg/1609/1609675.svg" alt="cutlery">
  
          </div>
          <div class="card__text">
              <div class="text__center">  Oven Glove </div>
          </div>
          <label>by: Kiranshastry </label>
        </div>
  
        <div class="card__content">
          <div class="card__icon">
            <img src="https://image.flaticon.com/icons/svg/1641/1641114.svg" alt="cutlery">
  
          </div>
          <div class="card__text">
              <div class="text__center"> Scale </div>
          </div>
          <label>by: itim2101 </label>
        </div>
  
        <div class="card__content">
            <div class="card__icon">
              <img src="https://image.flaticon.com/icons/svg/1639/1639455.svg" alt="cutlery">
    
            </div>
            <div class="card__text">
                <div class="text__center">  Whisk </div>
            </div>
            <label>by: Eucalyp </label>
          </div>
  
      </div>
  
  
    </div>
  </div>
  <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->