<div class="wrapper">
  <div class="top__header">
    <div class="icon__menu">
        <div class="menu__mobile">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="24" height="24"
            viewBox="0 0 192 192"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g fill="#ffffff"><g id="surface1"><path d="M0,34.56v7.68h192v-7.68zM0,92.16v7.68h192v-7.68zM0,149.76v7.68h192v-7.68z"></path></g></g></g></svg>
        </div>
        <div class="menu__desktop">
          <ul class="desktop__menu">
            <li class="promo">Promo</li>
            <li>Register</li>
            <li>Login</li>
          </ul>
        </div>
    </div>
    <h3>Best Hotel By Customer</h3>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card__img">
          <picture>
            <source media="(max-width: 320px)" 
                    srcset="https://images.unsplash.com/photo-1530629013299-6cb10d168419?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&h=200&q=80">

            <source media="(min-width: 538px)" 
                    srcset="https://images.unsplash.com/photo-1530629013299-6cb10d168419?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=200&q=1500">

            <img src="https://images.unsplash.com/photo-1530629013299-6cb10d168419?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=200&q=1500">
          </picture>
      </div>
      <div class="card__details">
        <h3 for="cozyroom">Cozying Room</h3>
        <div class="address">St.lorem ipsum des</div>
        <div class="price">
          <div class="star">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
          </div>
          <div class="price__l">
            <span class="price__label">IDR 1500K /</span>
            <span class="measure__label">night</span>
          </div>
        </div>
        <button>Detail</button>
      </div>
      <span class="credit-img">image by: unsplash.com/@jazzband</span>
    </div>

    <div class="card">
      <div class="card__img">
          <picture>
            <source media="(max-width: 400px)" 
                    srcset="https://images.unsplash.com/photo-1507038772120-7fff76f79d79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&h=200&q=80">

            <source media="(min-width: 481px)" 
                    srcset="https://images.unsplash.com/photo-1507038772120-7fff76f79d79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=200&q=80">


            <img src="https://images.unsplash.com/photo-1507038772120-7fff76f79d79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&h=200&q=80">
          </picture>
      </div>
      <div class="card__details">
        <h3 for="tomato">House sweet</h3>
        <div class="address">Gandaria</div>
        <div class="price"> 
          <div class="star">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
          </div>
          <div class="price__l">
            <span class="price__label">IDR 950K /</span>
            <span class="measure__label">night</span>
          </div>
        </div>
        <button>Detail</button>
      </div>
      <span class="credit-img">image by: unsplash.com/@antocave</span>
    </div>

    <div class="card">
        <div class="card__img">
            <picture>
              <source media="(max-width: 400px)" 
                      srcset="https://images.unsplash.com/photo-1541123356219-284ebe98ae3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&h=200&q=80">
  
              <source media="(min-width: 481px)" 
                      srcset="https://images.unsplash.com/photo-1541123356219-284ebe98ae3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=200&q=100">
  
              <img src="https://images.unsplash.com/photo-1541123356219-284ebe98ae3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&h=200&q=80">
            </picture>
        </div>
        <div class="card__details">
          <h3 for="cozyroom">Makau Homestay</h3>
          <div class="address">Cipete</div>
          
          <div class="price">
            <div class="star">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            </div>
            <div class="price__l">
              <span class="price__label">IDR 2500K /</span>
              <span class="measure__label">night</span>
            </div>
          </div>
          <button>Detail</button>
        </div>
        <span class="credit-img">image by: unsplash.com/@sidekix</span>
    </div>

    <div class="card">
        <div class="card__img">
            <picture>
              <source media="(max-width: 320px)" 
                      srcset="https://images.unsplash.com/photo-1545022388-9e6d95c77174?ixlib=rb-1.2.1&auto=format&fit=crop&w=335&h=200&q=80">
  
              <source media="(max-width: 500px)" 
                      srcset="https://images.unsplash.com/photo-1545022388-9e6d95c77174?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&h=200&q=100">
  
              <img src="https://images.unsplash.com/photo-1545022388-9e6d95c77174?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=200&q=80">
            </picture>
        </div>
        <div class="card__details">
          <h3 for="cozyroom">Bogor Cozy Homestay</h3>
          <div class="address">Bogor</div>
          
          <div class="price">
            <div class="star">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            </div>
            <div class="price__l">
              <span class="price__label">IDR 2500K /</span>
              <span class="measure__label">night</span>
            </div>
          </div>
          <button>Detail</button>
        </div>
        <span class="credit-img">image by: unsplash.com/@josesorianophoto</span>
    </div>

    <div class="card">
        <div class="card__img">
            <picture>
              <source media="(max-width: 320px)" 
                      srcset="https://images.unsplash.com/photo-1540518614846-7eded433c457?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&h=200&q=80">
  
              <source media="(max-width: 500px)" 
                      srcset="https://images.unsplash.com/photo-1540518614846-7eded433c457?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=200&q=100">
  
              <img src="https://images.unsplash.com/photo-1540518614846-7eded433c457?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=200&q=80">
            </picture>
        </div>
        <div class="card__details">
          <h3 for="cozyroom">Tribeca BedMy</h3>
          <div class="address">Jakarta</div>
          
          <div class="price">
            <div class="star">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            </div>
            <div class="price__l">
              <span class="price__label">IDR 750K /</span>
              <span class="measure__label">night</span>
            </div>
          </div>
          <button>Detail</button>
        </div>
        <span class="credit-img">image by: unsplash.com/@chastityco</span>
    </div>

    <div class="card">
        <div class="card__img">
            <picture>
              <source media="(max-width: 320px)" 
                      srcset="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&h=200&q=80">
  
              <source media="(max-width: 500px)" 
                      srcset="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=200&q=100">
  
              <img src="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=200&q=80">
            </picture>
        </div>
        <div class="card__details">
          <h3 for="cozyroom">Les't Carrot</h3>
          <div class="address">Bandung</div>
          
          <div class="price">
            <div class="star">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            </div>
            <div class="price__l">
              <span class="price__label">IDR 1750K /</span>
              <span class="measure__label">night</span>
            </div>
          </div>
          <button>Detail</button>
        </div>
        <span class="credit-img">image by: unsplash.com/@chastityco</span>
    </div>


  </div>
</div>